<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - CVBuilder</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/CVBuilder.styles.css" asp-append-version="true" />
  @await RenderSectionAsync("Header", required: false)
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar vh-100">
        <div class="position-sticky">
          <div class="sidebar-sticky">
            <h5 class="sidebar-heading px-3 mt-3 mb-2 text-muted">Main Menu</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <i class="bi bi-file-earmark-text"></i>
                  My CVs
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="bi bi-people"></i>
                  Templates
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="bi bi-gear"></i>
                  Settings
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <main class="dashboard__main col-md-9 col-lg-10 px-md-4">
        @RenderBody()
      </main>
    </div>

    <footer class="border-top footer text-muted"></footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
