@model CVBuilder.Models.Template

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Template</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviewImageUrl" class="control-label"></label>
                <input asp-for="PreviewImageUrl" class="form-control" />
                <span asp-validation-for="PreviewImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HtmlContent" class="control-label"></label>
                <input asp-for="HtmlContent" class="form-control" />
                <span asp-validation-for="HtmlContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Header {
   <script src="@Url.Content("~/lib/alpinejs/alpinejs-cdn.min.js")" defer></script>
}

<div x-data="liveEditor()" >
    <div>
        <label>
            <input type="checkbox" x-model="auto" />
            Auto update
        </label>
        <button @@click="run()" class="px-3 py-1 border border-gray-500 rounded">Run</button>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="flex flex-col bg-gray-900 p-2 rounded">
                <div class="text-xs opacity-70 mb-1">HTML</div>
                <textarea x-model="html" @@input="changed()" class="flex-1 p-2 bg-gray-800 rounded"></textarea>
            </div>
        </div>

        <div class="col-md-6">
            <iframe x-ref="frame" class="w-full h-full bg-white"></iframe>
        </div>
    </div>
</div>

@section Scripts {
  <script src="@Url.Content("~/js/live-html-editor.js")"></script>
}

