@model CVBuilder.Models.Template

@{
  ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Template</h4>
<hr />

@section Header {
  <script src="@Url.Content("~/lib/alpinejs/alpinejs-cdn.min.js")" defer></script>
}

@section Scripts {
  <script src="@Url.Content("~/js/live-html-editor.js")"></script>
}

<section >
  <form asp-action="Create">
    <div class="form-group col-md-6">
      <label asp-for="Name" class="control-label"></label>
      <input asp-for="Name" class="form-control" />
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div x-data="liveEditor()" class="p-2">
      <div>
        <label>
          <input type="checkbox" x-model="auto" />
          Auto update
        </label>
        <button @@click="run()" class="px-3 py-1 border border-gray-500 rounded">Run</button>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="flex flex-col bg-gray-900 p-2 border" style="height: 750px;">
            <div class="text-xs opacity-70 mb-1">HTML</div>
            <textarea name="HtmlContent" x-model="html" @@input="changed()"
              class="flex-1 p-2 bg-gray-800 w-100 h-100 border-0"></textarea>
          </div>
          <span asp-validation-for="HtmlContent" class="text-danger"></span>
        </div>

        <div class="col-md-6 border p-2" style="height: 750px;">
            <div class="text-xs opacity-70 mb-1">Preview</div>
          <iframe x-ref="frame" class="w-100 h-100 bg-white"></iframe>
        </div>
      </div>
    </div>

    <div class="form-group d-flex justify-content-end">
      <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  </form>
</section>
