@model IEnumerable<CVBuilder.Models.Template>

@{
    ViewData["Title"] = "Index";
}

@section Header {
   <link rel="stylesheet" href="~/css/Shared/Template/index.css"/>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<section class="template-card-grid">
@foreach (var item in Model) {
  <div class="">
    <div class="template-card__thumbnail">
      <img src="https://placehold.co/600x400?text=thumbnail" />
    </div>
    <p class="template-card__title">@item.Name</p>
  </div>
}
</section>


